#app_signup {
	background: url(../img/blue_tile.jpg);
	
	color: #FFF;
	
	
	
	.container { 
		max-width: 550px;
		margin: 2em auto;
	
	
		h1 {
			 text-align: center;
		}
		
		.button { 
			width: auto;
		}
	}
	
}