#app_signup {
	background: #DDDDDD;
	/*
url(../img/blue_tile.jpg);
	
	color: #FFF;
	
*/
	
	
	.container { 
		max-width: 550px;
		margin: 0 auto;
		padding-top: 2em;
		padding-bottom: 2em;
		
		.box {
			padding: 1em;
			background: #FFF;
			margin-bottom: 1em;
		}
	
/* 		text-align: center; */
	
		h1 {
/* 			 text-align: center; */
			 font-weight: 300;
			 font-size: 2em;
			 margin-top: 0;
			 margin-bottom: 0.5em;
			 color: #3784AE
		}
		
		hr { 
			margin-top: 2em;
			margin-bottom: 2em;
			background: #FFF;
			height:1px;
			border:0;
		}
		
		input.text {
			margin-bottom: 0.5em;
			border:1px solid #ddd;
			background-color: #f4f4f4;
			
		}
/*
		
		.button { 
			width: 100%;
		}
*/
	}
	
}