#app_signup {
	background: url(../img/blue_tile.jpg);
	
	color: #FFF;
	
	
	
	.container { 
		max-width: 550px;
		margin: 0 auto;
		padding-top: 2em;
		padding-bottom: 2em;
	
		h1 {
			 text-align: center;
		}
		
		.button { 
			width: 100%;
		}
	}
	
}