#signup {
	
	background-color: #91B6C8;
	background-image: url(../img/signup_bg.jpg);
	background-size: cover;
	
	color: #FFF;
	

	overflow:hidden;	

	
	h3 { 
		font-size: 1.5em;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
	}

	@media (min-width: 768px) {

		max-height: 350px;
		
		.column_5 section {
			padding: 0px 2em;
		}
	}

	
	@media (max-width: 769px) {
		
		.column_3 {
			display: none;
		}
		
		.column_5 {
			width: auto;
			padding: 1em;
		}
		
	}
	
	
	form input.text {
		border: 0;
		font-size: 1em;
	}

	
}